{% extends 'base.html.twig' %}

{% block title %}Création du portfolio{% endblock %}

{% block body %}
    <h1 class="title">Création du portfolio</h1>

    {{ include('admin/website/_form.html.twig') }}

    <div class="buttonsNav">
        <a href="{{ path('website_index') }}">Portfolio</a>
    </div>
{% endblock %}
