{% extends 'base.html.twig' %}

{% block title %}elHa{% endblock %}

{% block body %}
    <ul class="projectPictures">
        <li>Image 1</li>
        <li>Image 2</li>
        <li>Image 3</li>
        <li>Image 4</li>
        <li>Image 5</li>
        <li>Image 6</li>
    </ul>
{% endblock %}
