<form method="post" action="{{ path('source_delete', {'id': source.id}) }}" onsubmit="return confirm('Supprimer cette source ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ source.id) }}">
    <button class="btn">Supprimer</button>
</form>
