//Environment style

@font-face {
	font-family: 'Cormorant';
	src: url('./fonts/Cormorant_Infant_SemiBold_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Archivo';
	src: url('./fonts/Archivo_ExtraLight.ttf') format('truetype');
}

:root {    
    --backgroundColorDark: #282828; /* var(--backgroundColorDark) */
    --textColorDark: #ffffff;
    --backgroundColorWhite: #f2eee9;
    --textColorWhite: #000000;
  }

body{
    background-color: var(--backgroundColorDark);
    color: var(--textColorDark);
    font-family: 'Archivo', sans-serif;
    margin: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

.title{
    font-family: 'Cormorant', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--textColorDark);
}

//Header
.header{
    display: flex;
    justify-content: space-between;
}

.contactHeader{
    align-self: center;
    margin-bottom: 3px;
}

.titleHeader{
    font-size: xx-large;
    align-self: flex-end;
}

//Projects on homepage

.projectPictures{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 200px);
    
    justify-content: space-evenly;
    align-items: center;

    margin: 3rem;
    margin-top: 15vh;
}

.projectPicture {
    overflow: hidden; /* empêcher l'image de dépasser du bloc*/
    display: block;
}

.projectPicture img:hover {
	transform: scale(1.2);
}

.projectPicture img{
	transform: scale(1);
	transition: .5s ease-in-out;

    width: 100%;
    height: auto;
    cursor: pointer;

    will-change: transform;
}

//About me on homepage

.aboutMeDescription{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: start;
}

.about, .me{
    font-size: 7rem;
}

.about{
    text-align: right;
    margin-right: 15vw;
}

.aboutMeDescription p{
    margin: 3rem;
}

//Modal homepage picture project

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent{
    background-color: var(--backgroundColorDark);
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.closeModal{
    color: var(--textColorDark);
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.closeModal:hover, .closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.headerModalTitle, .headerModalDate{
    text-align: center;
    margin: 1rem;
}

.headerModalTitle{
    font-size: 2rem;
}

.mainModal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainModalDescription{
    text-align: justify;
    padding: 1rem;
}

.mainModalImage{
    width: 50vw;
}

//Admin index
.adminIndex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
    font-size: 2rem;
}

//Formulaire edit website + new project
label, input, textarea, #project_date, #project_categories, .logoLabel{
    display: block;
    width: 60%;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
}

label{
    padding-right: 1rem;
}
  
input {
    margin-bottom: 2rem;
}

input, textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f8f4e5;
    padding-left: 1rem;
    outline: none;
}
  
input:focus, textarea:focus {
    border: 3px solid black;
}
  
textarea {
    resize: none;
}

button, .editButton {
    display: block;
    float: right;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    border-radius: 1rem;
    background: var(--backgroundColorWhite);
    color: var(--textColorWhite);
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin: 2rem;
}

button:hover, .editButton:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    transition: background-color 5000s ease-in-out 0s;
}

//Admin project index
.projectTab{
    border-collapse: collapse;
    margin: 3rem;
}

.projectTabRow tr td img{
    width: 15vw;
    height: auto;
}

th, td{
    border: 2px solid var(--backgroundColorWhite);
    padding: 1rem;
}

//Categories index

.categoryIndex{
    margin-left: 5vw;
    font-size: 2rem;
    list-style-type: circle;
}

//Boutons de navigations admin
.buttonsNav{
    margin-top: 2rem;
    font-size: x-large;
}

.buttonsNav a:hover{
    color: #f45702;
    cursor: pointer;
}

.adminIndexElement{
    font-size: 2rem;
}

.linkAdminToHomepage{
    margin-top: 40vh;
}

//Upload form style
.vich-file div, .vich-file a{
    display: none;
}

.vich-file input{
    color: black;
}

.logo_formulaire{
    width: 30vh;
    height: auto;
}

.logoLabel{
    display: flex;
    align-items: center;
}

.logoLabel input{
    width: 30vw;
    margin-left: 3rem;
}

//Show project
.showProjectImage{
    width: 80vw;
    height: auto;
}

.projectGaleryShow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showProjectImage, .projectShowHeader{
    margin: 2rem;
}

.projectShowHeaderContent{
    padding: 2rem;
}

.btn_delete_project{
    background-color: var(--backgroundColorDark);
    color: var(--textColorDark);
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 2rem;
    font-size: x-large;
    font-family: "Archivo", sans-serif;
}

.btn_delete_project:hover{
    color: #f45702;
    cursor: pointer;
}

.buttonsProjectIndex{
    padding-bottom: 2rem;
}

.numberImage{
    margin: 1rem;
    font-size: larger;
}