{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1 class="title">Categories</h1>

    <div class="buttonsNav">
        <a href="{{ path('category_new') }}">Ajouter une catégorie</a>
    </div>

    <ul class="categoryIndex">
        {% for category in categories %}
            <li class="buttonsNav">
                <a href="{{ path('category_edit', {'id': category.id}) }}">{{ category.name }}</a>
            </li>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endfor %}
    </ul>
    <div class="buttonsNav">
        <a href="{{ path('admin') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
