<ul class="header">
    <li><button class="buttonDarkLightMode"><img src="{{ asset('build/images/button/lightButton.png') }}" alt="ligthing mode button"></button></li>
    
    {{ render(controller('App\\Controller\\Admin\\WebsiteController::headerLogo')) }}

    {% if app.request.uri matches '{.*\/admin\/*}' %} 
        <li class="title">
            <div>{{ app.user.email }}</div>
            <a href="{{ path('app_logout') }}"> Se déconnecter</a>
        </li>
    {% else %}
        <li class="contactHeader"><a href="#">CONTACT</a></li>
    {% endif %}
</ul>
