<ul class="header">
    <li><img src="{{ asset('build/images/button/lightButton.png') }}" alt="ligthing mode button"></li>
    <li class="titleHeader title"><h1>elHa</h1></li>
    <li class="contactHeader"><a href="#">CONTACT</a></li>
</ul>